@import url(https://fonts.googleapis.com/css?family=Andika&display=swap);

.rounded-img {
  width: 40%;
  border-radius: 50%;
}

body {
  font-family: Andika, serif;
  margin: 20px;
  background-color: rgb(234, 234, 234);
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box-3 {
  background-color: rgb(219, 221, 223);
  padding: -30px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: smaller;
  box-sizing: content-box;
  height: 20px;
}

.box-1 {
  padding: 0%;
  margin: 0%;
  font-size: smaller;
  height: min-content;
}
